.hud {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 10vh;
  opacity: 0.5;
  align: center;
  font-size: 2vh;
  color: white;
  font-family: sans-serif;
}

.loader {
  align: center;
  padding-top: 50vh;
  padding-left: 50vw;
  font-family: 'Helvetica', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
}
