@import url('https://fonts.cdnfonts.com/css/nasa');

.hud {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 10vh;
  opacity: 0.5;
  align: center;
  font-size: 2.5vh;
  color: white;
  font-family: 'Nasa', sans-serif;
}
